<p id="notice"><%= notice %></p>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'bar.jpg' %>');">
  <div class="banner-content">
    <h1>Cocktails</h1>
    <p>Mix Like the Pros</p>
  </div>
</div>


<h1 class="main-title">Cocktail List</h1>

<div class="container">
  <div class="row")>
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
            <h2 class="card-description"><%= cocktail.name %></h2>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
